.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.parallax img {
    filter: grayscale(2);
    opacity: 0.5;
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.parallax-container {
    height: 20%;
}

.services {
    background: lightgray;
}
section, footer {
    padding: 20px 0;
}

section.contact{
    background: lightgray;
}

.services .card-panel {
    min-height: 280px;
}

.sidenav {
    width: 150px;
    background: lightgray;
}